#!/usr/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

function setup_python() {
  if [[ ! -d .venv ]]; then
    echo "Creating python3 venv..."
    python3 -m venv .venv
    poetry install --all-extras --no-interaction --sync
  fi
  source .venv/bin/activate
}

function setup_pre_commit() {
  # Don't run for worktrees where .git is a file, not dir
  if [[ -d .git ]]; then
    for hook in "pre-commit" "pre-push" "prepare-commit-msg"; do
      if [[ ! -f ".git/hooks/$hook" ]]; then
        pre-commit install --install-hooks -t "$hook"
      fi
    done
  fi
}

export PYLINTRC="${PWD}/pyproject.toml"
source_env_if_exists .envrc.user # Allow user to override env vars before setting up other tools
setup_python
setup_pre_commit
